# In this User study we will see several subtable of the Flights dataset and rank them by How informative are they for the user

In [4]:
import pandas as pd
import pandas as pd
from Random_baselines.random_util import generate_random_summary, color_random_summary
from Naive_clustering.nc_utils import gen_nc_summary
from SubTab import subTab

num_cols_and_rows = 10 
pd.set_option("display.max_columns", num_cols_and_rows)
pd.set_option("display.max_rows", num_cols_and_rows)


path_sample_df =  'input/flights_dataset.csv'
full_df_a = pd.read_csv(path_sample_df)
if 'Unnamed: 0' in full_df_a.columns:
    full_df_a.drop(['Unnamed: 0'], axis=1, inplace=True)
if 'Unnamed: 0.1' in full_df_a.columns:
    full_df_a.drop([ 'Unnamed: 0.1'], axis=1, inplace=True)
if 'index' in full_df_a.columns:
    full_df_a.drop([ 'index'], axis=1, inplace=True)
%load_ext autoreload
%autoreload 2

In [78]:
#pandas default
full_df_a

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,...,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,11,29,7,UA,LAS,...,NaN,NaN,NaN,NaN,NaN
1,8,6,4,WN,DAL,...,NaN,NaN,NaN,NaN,NaN
2,11,26,4,AA,DFW,...,NaN,NaN,NaN,NaN,NaN
3,9,17,4,DL,JFK,...,NaN,NaN,NaN,NaN,NaN
4,5,31,7,WN,HOU,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99995,5,27,3,DL,JFK,...,50.0,0.0,0.0,0.0,0.0
99996,2,4,3,US,CLT,...,NaN,NaN,NaN,NaN,NaN
99997,7,16,4,AA,EWR,...,0.0,0.0,28.0,0.0,0.0
99998,1,17,6,US,DEN,...,NaN,NaN,NaN,NaN,NaN
99999,4,7,2,DL,LAX,...,NaN,NaN,NaN,NaN,NaN

In [13]:
# random
rand_df = generate_random_summary(full_df_a.copy(), num_cols=num_cols_and_rows, num_rows=num_cols_and_rows)
rand_df

,SCHEDULED_ARRIVAL,DAY,DAY_OF_WEEK,AIR_SYSTEM_DELAY,YEAR,DESTINATION_AIRPORT,DIVERTED,TAXI_IN,WEATHER_DELAY,DISTANCE
1825102,1625.0,27,1,NaN,2015,EWR,0.0,7.0,NaN,2402.0
1843016,1425.0,28,2,NaN,2015,MSP,0.0,9.0,NaN,1276.0
537374,1554.0,5,4,NaN,2015,AUS,0.0,3.0,NaN,775.0
1688020,1700.0,18,6,NaN,2015,CMH,0.0,5.0,NaN,409.0
3763751,916.0,22,6,NaN,2015,SBA,0.0,4.0,NaN,455.0
3969307,2115.0,3,4,NaN,2015,ORD,0.0,9.0,NaN,177.0
3241176,915.0,22,3,NaN,2015,DTW,0.0,6.0,NaN,363.0
3358033,250.0,28,2,4.0,2015,SJU,0.0,3.0,0.0,1237.0
3957712,1145.0,3,4,NaN,2015,DCA,0.0,2.0,NaN,899.0
2089253,1630.0,13,3,2.0,2015,MIA,0.0,8.0,0.0,964.0

In [18]:
# Naive clustering
nc_df = gen_nc_summary(full_df_a.copy(), num_cols_and_rows, num_cols_and_rows)
nc_df

,TAXI_IN,TAIL_NUMBER,YEAR,FLIGHT_NUMBER,DEPARTURE_TIME,SCHEDULED_DEPARTURE,DISTANCE,WHEELS_ON,ORIGIN_AIRPORT,AIR_SYSTEM_DELAY
4052923,43,2118,2015,746,376,1524,862.0,465,390,241
2933371,74,2531,2015,3043,381,1500,510.0,480,533,241
568398,43,3663,2015,5244,481,1300,737.0,653,583,0
895063,1,4100,2015,2485,426,1540,762.0,531,325,241
2546618,43,730,2015,1280,382,1530,969.0,487,389,241
2197706,23,1522,2015,999,1180,745,740.0,1351,471,241
1681471,54,4143,2015,1639,1148,715,456.0,1249,398,241
2282387,43,3967,2015,741,413,1600,733.0,503,487,241
1849456,65,2849,2015,735,408,1555,2176.0,578,543,241
71589,74,643,2015,4756,425,1411,287.0,573,533,197

In [83]:
# Subtable without rules
sdf = subTab(full_df_a)

In [84]:
# subtable with rules
sdf.display(full_df_a)

for or summary creation, it took 0:00:06.504785

,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_DEPARTURE,AIR_TIME,WHEELS_ON,DEPARTURE_TIME,ELAPSED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,DISTANCE
66908,-4.0,1709.0,1645,135.0,2024.0,1641.0,167.0,2030,2028.0,1012
68239,-9.0,1211.0,1200,138.0,1429.0,1151.0,167.0,1450,1438.0,1107
16853,3.0,817.0,751,234.0,1011.0,754.0,267.0,1027,1021.0,1620
63938,-6.0,2100.0,2030,62.0,2202.0,2024.0,112.0,2204,2216.0,404
68967,-2.0,629.0,615,81.0,750.0,613.0,104.0,744,757.0,406
60663,-5.0,1137.0,1130,116.0,1333.0,1125.0,132.0,1348,1337.0,759
36356,14.0,1839.0,1815,70.0,1949.0,1829.0,86.0,1955,1955.0,507
84068,-4.0,1435.0,1400,54.0,1529.0,1356.0,103.0,1528,1539.0,214
87595,20.0,2049.0,2007,258.0,2207.0,2027.0,292.0,2210,2219.0,1979
41882,NaN,NaN,1755,NaN,NaN,NaN,NaN,2055,NaN,950

In [85]:
full_df_a

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,...,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,11,29,7,UA,LAS,...,NaN,NaN,NaN,NaN,NaN
1,8,6,4,WN,DAL,...,NaN,NaN,NaN,NaN,NaN
2,11,26,4,AA,DFW,...,NaN,NaN,NaN,NaN,NaN
3,9,17,4,DL,JFK,...,NaN,NaN,NaN,NaN,NaN
4,5,31,7,WN,HOU,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99995,5,27,3,DL,JFK,...,50.0,0.0,0.0,0.0,0.0
99996,2,4,3,US,CLT,...,NaN,NaN,NaN,NaN,NaN
99997,7,16,4,AA,EWR,...,0.0,0.0,28.0,0.0,0.0
99998,1,17,6,US,DEN,...,NaN,NaN,NaN,NaN,NaN
99999,4,7,2,DL,LAX,...,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Subtable without rules
sdf = subTab(full_df_a, use_rules=True, subtab_config={'rules':'rules/rules_flights_mod_18.csv'})

In [87]:
sdf.display(full_df_a)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 28/28 [00:01<00:00, 23.64it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 375.95it/s]

for or summary creation, it took 0:00:52.181864

In [88]:
df1 = full_df_a[full_df_a['CANCELLED']==1]

In [90]:
df1

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,...,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
134,3,3,2,WN,MDW,...,NaN,NaN,NaN,NaN,NaN
144,1,26,1,B6,DTW,...,NaN,NaN,NaN,NaN,NaN
204,2,8,7,B6,LAX,...,NaN,NaN,NaN,NaN,NaN
374,5,31,7,US,BOS,...,NaN,NaN,NaN,NaN,NaN
470,4,14,2,B6,DCA,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99667,6,25,4,WN,BWI,...,NaN,NaN,NaN,NaN,NaN
99678,2,1,7,WN,ATL,...,NaN,NaN,NaN,NaN,NaN
99686,2,6,5,OO,SFO,...,NaN,NaN,NaN,NaN,NaN
99733,3,2,1,US,LGA,...,NaN,NaN,NaN,NaN,NaN
99777,8,20,4,DL,LGA,...,NaN,NaN,NaN,NaN,NaN

In [91]:
sdf.display(df1, pivot_columns=['CANCELLED'])

for creating new table vectors, it took 0:00:01.060003
for summary creation, it took 0:00:00.260082
calculating rules for this dataset
found 114 rules

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 89/89 [00:01<00:00, 83.39it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 477.38it/s]

for or summary creation, it took 0:00:10.948579